@font-face {
  font-family: "jquery";
  src: url("./jquery.ttf?cikfjc") format("truetype"),
    url("./jquery.woff?cikfjc") format("woff"),
    url("./jquery.svg?cikfjc#jquery") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.na-jquery {
  font-family: "jquery" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.na-jquery:before {
  content: "\6a";
}
@font-face {
  font-family: "material";
  src: url("./material.ttf?xhr59d") format("truetype"),
    url("./material.woff?xhr59d") format("woff"),
    url("./material.svg?xhr59d#material") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.na-material {
  font-family: "material" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.na-material:before {
  content: "\6d";
}
@font-face {
  font-family: "gimp";
  src: url("./gimp.ttf?kjrn5j") format("truetype"),
    url("./gimp.woff?kjrn5j") format("woff"),
    url("./gimp.svg?kjrn5j#gimp") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.na-gimp {
  font-family: "gimp" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.na-gimp:before {
  content: "\67";
}
@font-face {
  font-family: "inkscape";
  src: url("./inkscape.ttf?xla29g") format("truetype"),
    url("./inkscape.woff?xla29g") format("woff"),
    url("./inkscape.svg?xla29g#inkscape") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.na-inkscape {
  font-family: "inkscape" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.na-inkscape:before {
  content: "\69";
}
